.show-menu{
    z-index: 2! important;
}
.top-navbar-main,.top-nav-part{
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.btn-primary-x{
    display: none !important;
    border-radius: 0px;
    height: 40px;
    text-align: left;
    padding-left: 31px;
    border: 0px;
    border: 0px !important;
    font-size: 30px !important;
}

@media (max-width:991px){
    .top-nav-part{
        display: none;
    }
    .show-menu{
        display: flex !important;
    }
    .top-navbar{
        display: none;
    }
    .top-navbar-main{
        background-color: transparent;
    }
}
@media (max-width:991px){
    .btn{
        display: inline !important;
    }
    .btn-cl{
        background-color: rgb(164, 211, 255);
        width: 100%;
        color: rgb(0, 0, 0);
    }
    .btn-cl:hover{
        background-color: rgba(22, 47, 70, 0.582);
        color: rgb(0, 0, 0);
    }
}


.top-navbar{
    background-color: rgb(0, 73, 141);
}
