.file-item-dispaly{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.file-content-item{
    flex-basis: 140px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-content-item > b{
    text-align: center;
}