.modal-main{
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.modal-main> .modal-box{
    background-color: whitesmoke;
    box-shadow: 0 0 5px white;
    width: 340px;
    height: 220px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.modal-main> .modal-box > button{
    margin: 10px;
}