.navbar-container{
    margin-top: -41px;
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 38, 59, 0.719);
    /* animation: slideRight 700ms linear  1 forwards; */
    position: fixed; /* Sit on top of the page content */
    top: 40px; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}

.input-group ,.form-control{
    z-index: 0;
}

.navbar-main{
    max-width: 50%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.nav-link{
    text-align: start;
    padding-left: 31px;
}

.navbar-main> .item{
    height: 30px;
    font-size: 18px;
    padding: 3px;
    margin: 10px auto;
    
}

bottom-nav-part{
    background-color: white;
    
}

@keyframes slideRight{
    0%{
        width: 70%;
        background-color: rgba(255, 255, 255, 0);
    }
    100%{
        width: 100%;
        background-color: rgba(0, 38, 59, 0.719);
    }
}
@keyframes whitey{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: rgb(255, 255, 255);
    }
}


.navbar-main>.navbar-header{
    background-color: rgb(0, 73, 141);
    text-align: start;
    color: white;
    display: flex;
    flex-direction: column;
    height: 170px;
    padding: 20px;
}

.text-center{
    color: black;
}

.navbar-header > p{
    padding: 11px;
    
}

.navbar-brand{
    font-size: 40px !important;
    margin:auto;
    justify-content: start;
    display: flex;
    padding: 5px 11px;
}

.ftr{
    color: white;
    
    width: 100%;
}