.dashboard-nav{
    display: none;
    height: 60px;
    width: 100%;
    margin: 0px;
}

.dashboard-nav > .navbar-header{
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px !important;
    width: 100%;
    text-align: left;
    justify-content: flex-end;
    background-color: white;
   
}

.dashboard-nav > .navbar-header > a> .navbar-brand{
    
    line-height: 30px;
}

@media (max-width:991px){
    .dashboard-nav{
        display: flex !important;
    }
    .dashboard-nav-flex{
        display: flex !important;
        
    }
}

.dashboard-nav-flex{
    display: none !important;
    
}