.n {
  color: white;
}
.header-section {
  position: absolute;
  width: 100%;
  padding-top: 25px;
  z-index: 99;
}
.navbar .navbar-nav > li > a {

}

.navbar-nav>li>a {
  color: rgb(0, 0, 0) !important;
  padding:10px 31px 10px 31px !important;
  font-size: 14px;
}

.navbar .navbar-brand {
  color: white;
}
