/* .register .btn {
  font-size: 16px;
  font-weight: bold;
  background: #19aa8d;
  border: none;
  min-width: 140px;
}
.register .btn:hover,
.register .btn:focus {
  background: #179b81;
  outline: none;
}
.register {
  color: #999;
}
.register h1 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.register hr {
  margin: 0 -30px 20px;
}
.register link {
  color: #fff;
  text-decoration: underline;
}
.register link:hover {
  text-decoration: none;
}
.register form link {
  color: #19aa8d;
  text-decoration: none;
}
.register form a:hover {
  text-decoration: underline;
}

.card {
  margin: 5% auto;
  border-radius: 2%;
  max-width: 500px;
} */

.ftr {
  background: rgb(51, 51, 0);
}

.login-form {
  width: 385px;
  margin: 0 auto;
  min-height: 100vh;
}
.login-form form {
  margin-bottom: 15px;
  background: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.login-btn {
  min-height: 38px;
  border-radius: 2px;
}
.input-group-addon .fa {
  font-size: 18px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}
.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}
.social-btn .btn:hover {
  opacity: 0.9;
}
.social-btn .btn-primary {
  background: #507cc0;
}
.social-btn .btn-info {
  background: #64ccf1;
}
.social-btn .btn-danger {
  background: #df4930;
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.form-control::-webkit-input-placeholder {
  color: black;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: black;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: black;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: black;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: black;
} /* Microsoft Edge */
.form-danger {
  color: red;
  background: whitesmoke;
}
